# API Gateway muhit o'zgaruvchilari
GATEWAY_PORT=4000
NODE_ENV=development

# Servis manzillari (proxy)
AUTH_SERVICE_URL=http://localhost:4001
RESTAURANT_SERVICE_URL=http://localhost:4003
ORDER_SERVICE_URL=http://localhost:4004
MARKET_SERVICE_URL=http://localhost:4005
MARKETPLACE_SERVICE_URL=http://localhost:4006
SUPPORT_SERVICE_URL=http://localhost:4007
